@model TrabalhoFinal.Models.Operacao
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>""</h1>

<h3>Operação: @Model.NomeOperacao</h3>
<h3>Valor: @Model.Valor</h3>
<h3>Número da conta destino: @Model.NrContaDestino</h3>