@model TrabalhoFinal.ViewModels.OperacaoIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Operações</h2>

@if (@Model.Operacoes.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Operações</th></tr>
        </thead>
        <tbody>
            @foreach (var operacao in Model.Operacoes)
            {
                <tr><td>@Html.ActionLink(@operacao.NomeOperacao, "Details", new { operacao.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any operações yet.</p>
}