@model IEnumerable<TrabalhoFinal.Models.Gerente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Gerentes</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Gerentes</th></tr>
        </thead>
        <tbody>
            @foreach (var gerente in Model)
            {
                <tr><td>@Html.ActionLink(@gerente.Nome, "Details", new { gerente.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nós ainda não temos nenhum gerente.</p>
}

