@model IEnumerable<TrabalhoFinal.Models.ContaCorrente>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contas Corrente</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Contas Corrente</th></tr>
        </thead>
        <tbody>
            @foreach (var conta in Model)
            {
                <tr><td>@Html.ActionLink(@conta.Titular, "Details", new { conta.Id })</td></tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nós ainda não temos nenhuma conta.</p>
}


