@model TrabalhoFinal.Models.ContaCorrente
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>""</h1>

<h3>Número da conta: @Model.NrConta</h3>
<h3>Agência: @Model.Agencia</h3>
<h3>Titular: @Model.Titular</h3


